<div class="row">
    <div class="button-box col">
        <input #fileInput class="d-none" type="file" (change)="fileSelectionChanged($event)" [accept]="acceptedFileType">
        <div *ngIf="!selectedFile && !isRequesting">
            <div class="d-flex flex-column align-items-center">
                <button class="btn btn-outline-primary d-flex align-items-center" (click)="fileInput.click()">
                    <span>Choose Photo</span>
                </button>
            </div>
            <div *ngIf="!fileSizeError" class="caption mt-2">Max file size: 10 MB</div>
            <div *ngIf="fileSizeError" class="error mt-2">That file is too big. Try reducing it to 10 MB or less and then try again.</div>
        </div>
        <div *ngIf="selectedFile && !isRequesting" class="d-flex flex-column align-items-center">
            <div class="d-flex align-items-center paragraph-small pb-2">
                <span class="semi-bold text-break mr-3">{{selectedFile.name}}</span>
                <span class="mr-3">{{formatBytes(selectedFile.size)}}</span>
                <button class="cancel-button focusable" (click)="clearSelection()">
                    <span>Cancel</span>
                </button>
            </div>
            <button class="btn btn-primary d-flex align-items-center" (click)="uploadFile()">
                <span>Upload</span>
            </button>
        </div>
        <div *ngIf="isRequesting" class="d-flex justify-content-center align-items-center">
            <div class="spinner-grow text-primary" role="status" style="width: 4rem; height: 4rem;">
                <span class="sr-only">Uploading...</span>
            </div>
        </div>
    </div>
</div>
