<mdb-breadcrumb>
  <mdb-breadcrumb-item (click)="goByIndex(-1)">{{'common.home' | translate}}</mdb-breadcrumb-item>
  <mdb-breadcrumb-item
    *ngFor="let breadcrumbItem of breadcrumbs; index as i; trackBy: trackByFunction"
    (click)="goByIndex(i)"
    [ngClass]="{
      'active': i === breadcrumbs.length - 1
    }">
    {{breadcrumbItem.title}}
  </mdb-breadcrumb-item>
</mdb-breadcrumb>
<div>
  <cdk-virtual-scroll-viewport
    class="virtual-viewport"
    itemSize="250"
    dir="{{ (language$ | async) === 'ar' ? 'rtl' : 'ltr' }}" 
    orientation="horizontal">
    <div 
      mdbWavesEffect 
      class="waves-light"
      *cdkVirtualFor="let item of currentItems">
      <app-category-card
        class="virtual-item"
        [entity]="item"
        [editable]="false"
        [selected]="item === _selected"
        (click)="onClick(item)"
        ></app-category-card>
    </div>
  </cdk-virtual-scroll-viewport>
</div>
