<app-crud-modal
  entityTitle="project.title"
  [form]="form"
  [entity]="entity"
  (saved)=" transformPriceValue(); result.next($event)">
  <form [formGroup]="form">
    <app-input-wrapper
      name="title"
      label="project.fields.title"></app-input-wrapper>
    <app-input-wrapper
      type="textarea"
      name="description"
      label="project.fields.description"></app-input-wrapper>
    <app-category-selection
      *ngIf="categories$ | async"
      [items]="categories$ | async"
      formControlName="categories"
      [returnUid]="true"></app-category-selection>
    <div class="md-form">
      <input type="hidden" id="photo" class="form-control" name="photoUrl" [formControl]="form.controls.photoUrl" mdbInput>
      <app-image-upload [isProfilePic]="false" [userInfo]="user" (photoSelected)="setSelectedPhoto($event)"></app-image-upload>
    </div>
    <app-input-wrapper
      name="price"
      label="project.fields.price"
      placeholder="USD $0.00" 
      (change)="formatCurrency()"
      (input)="checkForLetters()"></app-input-wrapper>
  </form>
</app-crud-modal>
