<app-modal-wrapper
  [modalRef]="modalRef"
  [heading]="heading"
  (primaryClick)="onSave()">
  <form [formGroup]="form">
    <app-input-wrapper
      name="title"
      label="Title"></app-input-wrapper>
    <app-input-wrapper
      type="textarea"
      name="description"
      label="Description"></app-input-wrapper>
    <app-ng-select-wrapper
      name="categories"
      [items]="categories"
      [multiple]="true"
      bindLabel="name"
      label="categories"
      placeholder="Category"></app-ng-select-wrapper>
    <div class="md-form">
      <input type="hidden" id="photo" class="form-control" name="photoUrl" [formControl]="form.controls.photoUrl" mdbInput>
      <app-image-upload [isProfilePic]="false" [userInfo]="user" (photoUrlGenerated)="setListingPhotoUrl($event)"></app-image-upload>
    </div>
    <app-input-wrapper
      type="number"
      name="price"
      label="Price"></app-input-wrapper>
  </form>
</app-modal-wrapper>
