<div class="md-form">
  <ng-select
    ngDefaultControl 
    [placeholder]="label"
    [formControl]="control"
    name="qwe"
    [clearable]="clearable"
    [items]="items"
    [multiple]="multiple"
    [bindLabel]="bindLabel"
    [bindValue]="bindValue"
    appendTo="body"
    [required]="required"
    [readonly]="disabled"
    [addTag]="addTag"
    (change)="onValueChanges($event)"
    #ngSelect></ng-select>
    <app-input-error-wrapper
      [validOnPristine]="validOnPristine"
      [control]="control"></app-input-error-wrapper>
</div>