<!--<div class="wrapper">-->
<!--  <label translate>project.fields.category</label>-->
<!--  <ul class="list-group">-->
<!--    <li-->
<!--      mdbWavesEffect-->
<!--      *ngFor="let item of items; trackBy: trackByFunction" -->
<!--      class="list-group-item"-->
<!--      [ngClass]="{-->
<!--        'active': value?.uid === item.uid,-->
<!--        'disabled': isDisabled-->
<!--      }">-->
<!--      <div (click)="setValue(item)">{{item.title}}</div>-->
<!--      <app-category-sub-selection-->
<!--        *ngIf="item.subCategories"-->
<!--        [items]="getSubcategories(item)"-->
<!--        [value]="value"-->
<!--        (setValue)="setValue($event)"></app-category-sub-selection>-->
<!--    </li>-->
<!--  </ul>-->
<!--</div>-->
<label translate>project.fields.category</label>
<app-input-error-wrapper
        [control]="control"
        [validOnPristine]="validOnPristine"></app-input-error-wrapper>
<cdk-tree [dataSource]="dataSource" [trackBy]="trackByFunction" [treeControl]="treeControl">
  <cdk-nested-tree-node *cdkTreeNodeDef="let node" class="example-tree-node">
    <button mdbBtn disabled color="link" size="sm">
      <mdb-icon fas></mdb-icon>
    </button>

    <span (click)="setValue(node)">
      <mdb-icon fas [icon]="value?.uid === node.uid ? 'check' : ''"></mdb-icon>
      {{ node.title }}
    </span>
  </cdk-nested-tree-node>
  <cdk-nested-tree-node *cdkTreeNodeDef="let node; when: hasChild" class="example-tree-node">
    <button mdbBtn cdkTreeNodeToggle color="link" size="sm">
      <mdb-icon fas [icon]="treeControl.isExpanded(node) ? 'chevron-down' : 'chevron-right'"></mdb-icon>
    </button>

    <span (click)="setValue(node)">
      <mdb-icon fas [icon]="value?.uid === node.uid ? 'check' : ''"></mdb-icon>
      {{ node.title }}
    </span>

    <div [class.example-tree-invisible]="!treeControl.isExpanded(node)">
      <ng-container cdkTreeNodeOutlet></ng-container>
    </div>
  </cdk-nested-tree-node>
</cdk-tree>
