.wrapper {
  max-height: 240px;
  overflow-y: auto;
  min-width: 450px;
  max-width: 450px;
  top: 14px;
}

.categories-tree-invisible {
  display: none;
}

.categories-tree-node {
  display: block;

  .categories-tree-node {
    padding-left: 40px;
  }
}
