<div class="white px-4 section-header">
  <h3 translate>marketplace.componentHeader</h3>
  <p class="pt-3" translate>marketplace.componentSubHeading</p>

  <app-category-filter
    *ngIf="categories$ | async"
    [items]="categories$ | async"
    (selected)="selectCategory($event)"></app-category-filter>

  <form [formGroup]="form" (submit)="smashTheSearch()" class="form-inline md-form mr-auto mb-4">
    <app-input-wrapper
      name="query"
      placeholder="marketplace.mainSearchDescription"></app-input-wrapper>
    <button
      mdbBtn
      translate
      mdbWavesEffect
      type="submit"
      size="sm"
      color="blue"
      rounded="true"
      class="my-0 waves-light">
      marketplace.mainSearch
    </button>
  </form>
</div>

<div class="container-fluid pb-5">
  <div class="py-5">
    <app-marketplace-listing
      class="project-listing-cards"
      [isLoading]="isLoading$ | async"
      [listings]="listings$ | async"></app-marketplace-listing>
  </div>
</div>