<app-crud-modal
  entityTitle="category.title"
  [form]="form"
  [entity]="entity"
  (saved)="result.next($event)">
  <form [formGroup]="form">
    <app-input-wrapper
      name="title"
      label="category.fields.title"></app-input-wrapper>
    <div class="md-form">
      <input type="hidden" id="photo" class="form-control" name="photoUrl" [formControl]="form.controls.photoUrl" mdbInput>
      <app-image-upload [displayUploadButton]="false" (photoSelected)="setSelectedPhoto($event)"></app-image-upload>
    </div>
    <app-input-wrapper
      *ngFor="let lang of getLanguages()"
      name="title_{{lang}}"
      label="{{'category.fields.titleLang' | translate: {lang: lang} }}"></app-input-wrapper>
  </form>
</app-crud-modal>
