<app-crud-modal
  entityTitle="category.title"
  [form]="form"
  [entity]="entity"
  (saved)="result.next($event)">
  <form [formGroup]="form">
    <app-input-wrapper
      name="title"
      label="category.fields.title"></app-input-wrapper>
    <app-input-wrapper
      name="photoUrl"
      label="category.fields.photoUrl"></app-input-wrapper>
    <app-input-wrapper
      *ngFor="let lang of getLanguages()"
      name="title_{{lang}}"
      label="{{'category.fields.titleLang' | translate: {lang: lang} }}"></app-input-wrapper>
  </form>
</app-crud-modal>