<div class="white px-4 section-header">
    <h3>Listing Approval</h3>
    <p class="grey-text pt-3">Hello admin!</p>
</div>

<div class="container-fluid pb-5">
    <div class="py-5">

        <div class="d-flex flex-wrap fadeIn animated">

            <mdb-card class="mr-4 col-sm-12 col-md-6 col-lg-3" *ngFor="let listing of listings$ | async">
                <!--Card image-->
                <mdb-card-img *ngIf="listing.photoUrl" src="{{ listing.photoUrl }}" alt="Card image cap"
                    class="waves-light" mdbWavesEffect></mdb-card-img>

                <!--Card content-->
                <mdb-card-body>

                    <!--Title-->
                    <mdb-card-text>
                        <label>Title:</label>
                        {{ listing.title }}
                    </mdb-card-text>

                    <!--Text-->
                    <mdb-card-text>
                        <label>Description:</label>
                        {{ listing.description }}
                    </mdb-card-text>

                    <mdb-card-text>
                        <label>Categories:</label>
                        {{ listing | projectCategoryTitle }}
                    </mdb-card-text>

                    <mdb-card-text>
                        <label>Price:</label>
                        {{ listing.price }}
                    </mdb-card-text>

                    <mdb-card-text>
                        <label>Owner:</label>
                        {{ listing.userId }}
                    </mdb-card-text>

                    <div class="text-left">
                        <a mdbBtn color="primary" mdbWavesEffect (click)="onApprove(listing)">Approve</a>
                        <a mdbBtn class="red lighten-1 white-text" mdbWavesEffect (click)="onDelete(listing)">Delete</a>
                    </div>
                </mdb-card-body>
            </mdb-card>

        </div>

        <div *ngIf="isLoading$ | async" class="d-flex justify-content-center align-items-center"
            style="margin-top: 200px">
            <div class="spinner-grow text-primary" role="status" style="width: 4rem; height: 4rem;">
                <span class="sr-only">Loading...</span>
            </div>
        </div>

    </div>
</div>