<mdb-card *ngIf="order">
    <mdb-card-header>{{ order.title }}</mdb-card-header>
    <div class="center">
        <app-user-profile-preview
                *ngIf="!hideSeller"
                [userProfile]="order.seller"></app-user-profile-preview>
        <app-user-profile-preview
                *ngIf="!hideBuyer"
                [userProfile]="order.buyer"></app-user-profile-preview>
    </div>
    <mdb-card-body>
        <mdb-card-text>
            {{ order.description }}
        </mdb-card-text>
    </mdb-card-body>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            {{ 'order.fields.price' | translate }}: {{ order.price }}
        </li>
        <li class="list-group-item">
            <span>
                {{ 'order.fields.status' | translate }}:
            </span>
            <mdb-badge color="red">
                 {{ order.status | enum: 'OrderStatus' | async }}
            </mdb-badge>
        </li>
    </ul>
    <mdb-card-body>
        <app-back-button></app-back-button>
        <button mdbBtn type="button" class="primary">Fake Action 1</button>
        <button mdbBtn type="button" class="primary">Fake Action 2</button>
    </mdb-card-body>
</mdb-card>
