<div class="container-fluid pb-5">
  <button mdbBtn color="primary" class="ml-3" (click)="openModal()">
    {{'common.addNew' | translate}} {{'category.title' | translate}}
  </button>
  <div class="py-5">
    <div class="d-flex flex-wrap fadeIn animated">
      <div *ngFor="let entity of list; trackBy: trackByFunction">
        <app-category-card
          [editable]="true"
          [entity]="entity"
          (edited)="openModal($event)"
          (deleted)="onDeleted($event)"></app-category-card>
      </div>
    </div>
  </div>
</div>