.marketplace-list {
    box-sizing: border-box;
    justify-content: center;
}

.listing {
    width: 80%;
    margin: 1rem;
}

@media (min-width: 768px) {
    .listing {
        width: calc(50% - 2rem);
    }

    .marketplace-list {
        justify-content: normal;
    }
}

@media (min-width: 992px) {
    .listing {
        width: calc(33.3333% - 2rem);
    }
}

@media (min-width: 1200px) {
    .listing {
        width: calc(25% - 3rem);
    }
}