<mdb-card>
    <mdb-card-body *ngIf="userProfile">
        <div class="avatar">
            <img *ngIf="userProfile.photoUrl" src="{{ userProfile.photoUrl }}" height="96" width="96"
                class="rounded-circle z-depth-0" alt="avatar image">
            <h3> {{ userProfile.displayName }}</h3>
        </div>
        
        <div class="buttons-wrapper justify-content-center">
            <button mdbBtn color="primary" mdbWavesEffect (click)="openModal()">Contact Me</button>
        </div>

    </mdb-card-body>
</mdb-card>

<mdb-card class="mt-3">
    <mdb-card-body *ngIf="userProfile">

        <mdb-card-text>
            <label>From:</label>
            fill me in
        </mdb-card-text>

        <mdb-card-text>
            <label>Avg. Response Time:</label>
            fill me in
        </mdb-card-text>

        <mdb-card-text>
            <label>Languages</label>
            arabic & english
        </mdb-card-text>

        <mdb-card-text>
            <label>Description</label>
            yoyoyoyo hello it's a me - a mario!
        </mdb-card-text>

        
    </mdb-card-body>
</mdb-card>