.nav-link.active {
  background-color: #eee;
}

.logout-button {
  display: none;
}

.avatar-dropdown {
  display: block;
}

@media (max-width: 992px) {

  .logout-button {
    display: block;
  }
}

.brand-name {
  text-align: center;
  width: 100%;
  position: absolute;
  font-family: sans-serif;
  text-transform: uppercase;
  font-size: larger;
}