<div *ngIf="!isLoading" class="white px-4 section-header">

    <center><h3>{{ listing.title }}</h3>

    <div class="row mb-3">
        <div class="col-md-12">
        <img class="img-fluid list-detail-img " src={{listing.photoUrl}} alt="Card image cap">
        </div>
        </div>

    <h2>About:</h2>
    <p class="pt-3">{{ listing.description }}</p>


    <div style="padding-bottom: 5%;">
        <a mdbBtn color="secondary" mdbWavesEffect [routerLink]="[ '/' ]">Back</a>
        <a mdbBtn color="primary" mdbWavesEffect (click)="onDelete()">Continue ($5.90)</a>
    </div>
      

    </center>
    

</div>

<div *ngIf="isLoading" class="d-flex justify-content-center align-items-center" style="margin-top: 200px">
    <div class="spinner-grow text-primary" role="status" style="width: 4rem; height: 4rem;">
        <span class="sr-only">Loading...</span>
    </div>
</div>