<div *ngIf="!isLoading" class="white px-4 section-header">
    <div class="center">
        <h3>{{ listing.title }}</h3>

        <div class="userProfile" *ngIf="listingUserProfile">
            <div class="avatar m-3" (click)="openUserProfile()">
                <img *ngIf="listingUserProfile.photoUrl" src="{{ listingUserProfile.photoUrl }}" height="96" width="96"
                    class="rounded-circle z-depth-0" alt="avatar image">
                <a class="mr-3 ml-3">{{ listingUserProfile.displayName }}</a>
            </div>
        </div>
        <div *ngIf="!listingUserProfile" class="d-flex justify-content-center align-items-center">
            <div class="spinner-grow text-primary" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-md-12">
                <img class="img-fluid list-detail-img " src={{listing.photoUrl}} alt="Card image cap">
            </div>
        </div>

        <h2>About:</h2>
        <p class="description pt-3">{{ listing.description }}</p>

        <div style="padding-bottom: 5%;">
            <a mdbBtn color="secondary" mdbWavesEffect [routerLink]="[ '/' ]">Back</a>
            <a mdbBtn color="primary" mdbWavesEffect (click)="onDelete()">Continue ({{"$ " + listing.price}})</a>
        </div>
    </div>
</div>

<div *ngIf="isLoading" class="d-flex justify-content-center align-items-center" style="margin-top: 200px">
    <div class="spinner-grow text-primary" role="status" style="width: 4rem; height: 4rem;">
        <span class="sr-only">Loading...</span>
    </div>
</div>
