<div class="white px-4 section-header">
    <h3 translate>component.messages.header</h3>
    <p class="pt-3" translate>component.messages.subHeading</p>

</div>

<div class="pt-1 pb-5">
    <div class="row mx-auto py-5">

            <div class="col-sm-12 col-md-6 col-lg-6 mt-3">
                <app-messages-chat-list 
                    (onChatSelect)="onChatSelect($event)" 
                    [chats]='chats$ | async'>
                </app-messages-chat-list>

            </div>

            <div class="col-sm-12 col-md-6 col-lg-6 mt-3">
                
                <app-messages-chat-room 
                    [chatMessages]="chatMessages$ | async"
                    [chatData]="selectedChat"
                    >
                </app-messages-chat-room>

            </div>
            

    </div>
</div>

       